<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Zig Wheel Automation">

    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <test verbose="2" preserve-order="true"
          name="C:/Users/2497720/IdeaProjects/ZigWheels-Automation-Framework/src/test/java/testcases/TC_01_InvalidEmail.java">
        <classes>
            <class name="testcases.TC_01_LaunchApp">
            </class>
            <class name="testcases.TC_02_NavigateToUpcomingBikes">
            </class>
            <class name="testcases.TC_03_HondaPage">
            </class>
            <class name="testcases.TC_04_HondaFilter">
            </class>
            <class name="testcases.TC_05_ValidateCarCard">
            </class>
            <class name="testcases.TC_06_ExtractBikeNames">
            </class>
            <class name="testcases.TC_07_ExtractBikePrices">
            </class>
            <class name="testcases.TC_08_FilterBikesBelow5Lakh">
            </class>
            <class name="testcases.TC_09_VerifyExpectedLaunchDates">
            </class>
            <class name="testcases.TC_10_StoreBikeDetails">
            </class>
            <class name="testcases.TC_11_NavigateUsedcars">
            </class>
            <class name="testcases.TC_12_SelectLocation">
            </class>
            <class name="testcases.TC_13_ExtractPopularCarModels">
            </class>
            <class name="testcases.TC_14_ValidatePopularCarModels">
            </class>
            <class name="testcases.TC_15_ValidatePopularModelsPrice">
            </class>
            <class name="testcases.TC_16_ValidateLoginOptions">
            </class>
            <class name="testcases.TC_17_InvalidEmail">
            </class>
            <class name="testcases.TC_16_ValidateLoginOptions">
            </class>
            <class name="testcases.TC_17_InvalidEmail">
            </class>
            <class name="testcases.TC_18_InvalidPhoneNumber">
            </class>
            <class name="testcases.TC_19_EmptyEmail">
            </class>
            <class name="testcases.TC_20_ValidEmail">
            </class>
        </classes>
    </test>
</suite>