<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="TC_01">
        <classes>
            <class name="testcases.TC_16_ValidateGoogleLogin"></class>
            <class name="testcases.TC_17_InvalidEmail"></class>
        </classes>
    </test>
</suite>